{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div class="container">
    <h1>The Annonces</h1>
    <div class="row">
        {% for annonce in annonces %}
            <div class="col-md-3">
                <div class="card-header">
                    {{ annonce.titre }}
                </div>

                <img src="{{annonce.photo}}" style="height:200px; display:block; max-width:100%">

                <div class="card">
                    <h2>Super Voiture</h2>
                    <p>Description: {{annonce.description}} </p>
                    <p>Prix: {{annonce.prix}}</p>
                    <a href="#" class="btn btn-primary">More info</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
