{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-5">  
        <h2>Créer une nouvelle annonce</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {# <button type="submit" class="btn btn-info">Enregistrer une annonce</button> #}
        {{ form_end(form) }}
</div>
  
{% endblock %}